# common
**/.idea
**/out/
*.iml

# python
.DS_Store
python/gbia
python/kakao
python/devmatching

# java
java/algorithm-java/src/kakaocommerce
java/algorithm-java/src/kakao
java/algorithm-java/src/naverweb
